<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Server Hiring</title>
</head>
<body>
    <header>
        <h1 class=title> Join us </h1>
    </header>
    <main>
        <form class="create_form" method="post" action="join">
            <label>Name: </label>
            <input class="u-full-width" type="text" id="name" name="name">
            <label>Email: </label>
            <input class="u-full-width" type="text" id="mail" name="mail">
            <label>Password: </label>
            <input class="u-full-width" type="text" id="pass" name="pass">
            <button class="button-primary">Join us</button>
        </form>
        <div class=containerData>
            <p id=containerIp> </p>
            <p id=containerId> </p>
        </div>
    </main>
    <!-- <script src="join.js"></script> -->
</body>
</html>